{% extends "layout.html"%}
{% block content %}
    <h1>About page</h1>
    <p>Lorem ipsum dolorssss sit amet, consectetur adipisicing elit. Dolorum quasi reiciendis exercitationem vero rerum quia ratione dolorem, repellat dicta vel asperiores odit, minima, dolor eos sed doloremque eligendi molestias reprehenderit.
    Culpa, exercitationem doloribus? Consequuntur quod nobis porro harum dolorem dignissimos rerum eaque culpa obcaecati. Animi nisi voluptatibus ratione, fuga porro facere dignissimos similique quasi, commodi non esse, quibusdam veritatis sapiente.</p>
{% endblock content %}

